.root{
    -fx-background-image: url("../img/galaxy-background.png");
    -fx-background-repeat: stretch;
    -fx-background-position: flex;
    -fx-background-position: center center;
    -fx-padding: 20 20 20 20;
}

